@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap');

*{
  font-family: poppins;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header{
  height:75px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

}

header img {
  margin-left: 20px;
  width:50px;
  height: auto;
  border-radius: 50%;
}

ul{
   display: none;
   width: 100vw;
   position: absolute;
   top:75px;
   text-align: center;
   background-color: darkblue;
}

li {
  padding: 14px 16px;
  list-style-type: none;
}

li a{
  color: white;
  font-size: 1.5rem;
  text-decoration: none
}

#bar{
 color: black;
 margin-right: 17px;
 font-size: 24px;
 display: block;
}

#exit{
 color: black;
 margin-right: 17px;
 font-size: 24px; 
 display: none;
}

#textandhero{
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items:center;
}


h1{
  font-weight: 600;
  font-size: 37px;
}

.name {
 color:#027bff;  
}

#icando{
font-size: 22px;
margin-bottom: 10px;
}

#dev, #ux{
font-family: 'Playfair Display', serif;
}

#art{
  margin-top: 25px;
  width:200px;
  height: auto;
}

#chevron{
   margin-top: 50px;
   text-align: center;
}

h2{
   margin: 25px auto;
   text-align: center;
   color: #0e153a;
}

#projects{
text-align: center;
  }

.projectbox{
  margin-top: 30px;
  /* text-align: center; */
  display: flex;
  flex-direction: column;
  align-items: center;
 }

.title{
  font-weight: 600;
}

.description{
  width:95%;
  text-align: center;
  margin-bottom: 20px;
  color:#727272;
  /* outline: 1px red solid; */
}

.projectimg{
   width: 300px;
   height: 150px;
   box-shadow: 3px 10px 20px #f6f5ef;
 }

 
footer {
   font-size: 10px;
   height: 50px;
   width: 100vw;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color:#0e153a;
   color: white;
   
}

@media only screen and (min-width: 678px) {

ul{
   display: flex;
   align-items: center;
   position: static;
   width: 20vw;
   background-color: #FFF;
}

li a{
  transition: 0.3s;
  color: #000000;
  margin-left: 10px;
}


li a:hover {
  color:#027bff;
}

#toggle{
  display: none;
}

#textandhero{
  height: 70vh;
  display: flex;
  flex-direction: row;
  /* margin-top: 150px; */
  justify-content: space-around;
  flex-wrap: wrap;
  /* outline:#027bff solid 2px; */

}

#intro{
  text-align:center;
  width:50vw;
} 

#hero{
  width:50vw;
  text-align: center;
} 

#art{
  width:350px;
  height:auto;
}

h1{
  font-size: 50px;
}

#icando{
  font-size: 22px;
  margin-top: 30px;
}
#dev, #ux{
  font-family: 'Playfair Display', serif;
}

#chevron{
   margin-top: 120px;
   text-align: center;
}



 h2{
   color: #0e153a;
   text-align: center;
   /* margin-bottom: 40px; */
 }

 #chevron{
   text-align: center;
   margin-bottom: 50px;
 }

  

.projectbox{
    display: inline-block;
    margin-top: 30px;
    margin-right: 20px;
 }
 .title{
    font-weight: 600;
  }

  .description{
    margin-bottom: 20px;
  }
.projectimg{
  width: 580px;
   height: 350px;
   box-shadow: 3px 10px 20px #f6f5ef;
 }

  footer {
  height: 50px;
   width: 100%;
   background-color:#0e153a;
   color: white;
   display: flex;
   align-items: center;
   justify-content: center;
}

}
